bin/
.direnv/
dispositionspapier/*.fdb_latexmk
dispositionspapier/*.aux
dispositionspapier/*.dvi
dispositionspapier/*.pdf
dispositionspapier/*.fls
dispositionspapier/*.log
etc/assembly/gnu_as_hello_world
etc/assembly/gnu_as_hello_world.o
etc/arm_assembly/hello
etc/arm_assembly/hello.o
etc/init_pi3/boot
etc/init_pi3/boot.o
**/*.o
**/*.img
**/*.elf


