bin/
.direnv/
dispositionspapier/*.fdb_latexmk
dispositionspapier/*.aux
dispositionspapier/*.dvi
dispositionspapier/*.pdf
dispositionspapier/*.fls
dispositionspapier/*.log
etc/assembly/gnu_as_hello_world
etc/assembly/gnu_as_hello_world.o
